/* BASE */
body {
  background: #020617;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}

p {
  color: #cbd5e1;
}

/* HERO */
.hero {
  padding: 80px 20px;
  text-align: center;
  background: radial-gradient(circle at top, #78350f, #020617);
}

.hero-content h1 span {
  background: linear-gradient(90deg, #fbbf24, #fb923c);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image img {
  margin-top: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 1100px;
}

/* OCCASIONS */
.occasions {
  padding: 80px 20px;
  text-align: center;
}

.occasion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.occasion-card {
  background: #020617;
  border: 1px solid #334155;
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s;
}

.occasion-card:hover {
  border-color: #fbbf24;
}

.icon-box {
  background: linear-gradient(135deg, #fbbf24, #fb923c);
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* FEATURES */
.features {
  padding: 80px 20px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

.features h2 span {
  background: linear-gradient(90deg, #fbbf24, #fb923c);
  -webkit-background-clip: text;
  color: transparent;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 12px;
}

.feature-image {
  border-radius: 20px;
  width: 100%;
}

/* PACKAGES */
.packages {
  padding: 80px 20px;
  text-align: center;
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.package-card {
  background: #020617;
  border: 1px solid #334155;
  padding: 30px;
  border-radius: 20px;
}

.price {
  color: #fbbf24;
  font-size: 24px;
  margin-bottom: 20px;
}

/* BUTTONS */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 25px;
  background: linear-gradient(90deg, #fbbf24, #fb923c);
  color: #000;
  text-decoration: none;
  border-radius: 30px;
}

.btn.white {
  background: white;
  color: #fb923c;
}

.btn.outline {
  background: transparent;
  border: 2px solid white;
  color: white;
}

/* CTA */
.cta {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(90deg, #fbbf24, #fb923c);
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
