/* GENERAL */
body {
  background: #020617;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}

p {
  color: #cbd5e1;
}

/* HERO */
.hero {
  padding: 80px 20px;
  text-align: center;
  background: radial-gradient(circle at top, #881337, #020617);
}

.hero-content h1 span {
  background: linear-gradient(90deg, #fb7185, #f43f5e);
  -webkit-background-clip: text;
  color: transparent;
}

.hero-image img {
  margin-top: 40px;
  border-radius: 20px;
  width: 100%;
  max-width: 1100px;
}

/* SERVICES */
.services {
  padding: 80px 20px;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.service-card {
  background: #020617;
  border: 1px solid #334155;
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s;
}

.service-card:hover {
  border-color: #fb7185;
}

.icon-box {
  background: linear-gradient(135deg, #fb7185, #f43f5e);
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* PACKAGES */
.packages {
  padding: 80px 20px;
  background: #020617;
  text-align: center;
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  max-width: 1200px;
  margin: auto;
}

.package-card {
  background: #020617;
  border: 1px solid #334155;
  padding: 30px;
  border-radius: 20px;
}

.price {
  color: #fb7185;
  font-size: 24px;
  margin-bottom: 20px;
}

.package-card ul {
  list-style: none;
  padding: 0;
}

.package-card li {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}

/* BUTTONS */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 14px 25px;
  background: linear-gradient(90deg, #fb7185, #f43f5e);
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.btn.white {
  background: white;
  color: #f43f5e;
}

.btn.outline {
  background: transparent;
  border: 2px solid white;
}

/* CTA */
.cta {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(90deg, #fb7185, #f43f5e);
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
